<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class ="mx-auto">
      <h2>User info</h2>
      <%= form_with model:@user,local:true do |f| %>
      <div class ="form-group">
        <p>Name</p>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
      </div>
      <div class ="form-group">
      <p>Image</p>
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
    　   <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
      </div>
      <div class ="form-group">
      <p>Intrduction</p>
        <%= f.text_field :introduction, autofocus: true, id:"inputName" %>
      </div>
      <div class ="form-group">
        <%= f.submit "Update User",class: "btn btn-secondary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>