<h2>User info</h2>
<%= form_with model:@user,local:true do |f| %>
  <p>Name</p>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
  <p>Image</p>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
　<%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
  <p>Intrduction</p>
  <%= f.text_field :introduction, autofocus: true, id:"inputName" %>
  <%= f.submit "Update User" %>
<% end %>