<h2>Uaer info</h2>
  <%= attachment_image_tag @user, :profile_image_id %>
  <div>
    <P>name</P>
    <%= @user.name %>
  </div>
  <div>
    <p>introduction</p>
    <%= @user.intoroduction %>
  </div>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>


<h2>Books</h2>
<% @books.each do |book| %>
<div>
  <p>Title</p><p>Opinion</p>
</div>
<div>
  <%= attachment_image_tag @user, :profile_image_id %>
  <%= book.title %>
  <%= book.body %>
</div>
<% end %>