<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Uaer info</h2>
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
      <div>
        <P>name</P>
        <%= @user.name %>
      </div>
      <div>
        <p>intrduction</p>
        <%= @user.introduction %>
      </div>
      <% if @user.id == current_user.id %>
      <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
      <% end %>

      <h2>New book</h2>
      <%= form_with model: @book, local:true do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>

        <p>Opinion</p>
        <%= f.text_field :body %>

        <%= f.submit 'Create Book' %>
      <% end %>



    </div>


      <div class="col-8 offset-md-1">
        <h2>Books</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        <tbody></tbody>
        </table>
        <% @books.each do |book| %>

        <div>
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
          <%= book.title %>
          <%= book.body %>
        <% end %>
        </div>
      </div>
  </div>
</div>
