<h2>New book</h2>
<%= form_with model: @book, local:true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_field :body %>

  <%= f.submit 'Create Book' %>
<% end %>

<h2>Books</h2>
<h4>Title</h4><h4>Opinion</h4>
<% @books.each do |book| %>
  <div>
    <%= book.title %>
    <%= book.body %>
  </div>
<% end %>